@import url(reset.css);

.text1 {
	border-top: 5px solid aqua;
	border-right: 10px dotted goldenrod;
	border-bottom: 3px dashed khaki;
	border-left: 6px solid darkorchid;
}
.text2 {
	border: 10px dotted darkred;
	opacity: 0.5;
}
.text3 {
	border: 15px dashed darkblue;
	border-radius: 50px;
}
.text4:hover {
	outline: 15px solid salmon;
}
a:focus {
	outline: 5px dotted aqua;
}
.span1 {
	border: 1px solid royalblue;
}
.span2 {
	outline: 5px dotted teal;
	visibility: hidden;
}
img {
	margin-top: 50px;
	border-radius: 100% 0% 100% 0% / 72% 39% 61% 28%;
	box-shadow: 10px 5px 5px 0px firebrick, 5px 4px 5px 5px goldenrod;
}
.cicle {
	margin-top: 50px;
	width: 200px;
	height: 200px;
	background-color: magenta;
	border-radius: 50%;
	box-shadow: inset -5px 5px 5px 5px cornflowerblue;
}
.botton {
	background-color: rgb(92, 92, 214);
	padding: 10px;
	color: aliceblue;
	display: inline-block;
	border-radius: 15px;
	border: 6px solid lime;
	box-shadow: 0 5px 0 0 black;
	margin-bottom: 10px;
	margin-top: 10px;
}