@import url(reset.css);


h1 {
   color: rgb(100, 169, 115);
   font-size: 30px;
}
.photo {
   border: 4px solid gold;
}
.p-1 {
   color: brown;
}
.span {
   color: rgb(195, 123, 36);
}
mark.red { 
   background-color: red;
   color: black;
}
.link1 {
   color: rgb(169, 198, 37);
}
.link2 {
   color: blue;
}
.link3 {
   color: green;
}
.link4 {
   color: rgb(63, 140, 163);
}
#one {
   color: rgb(169, 198, 37)
}
.list2 > ul {
color: crimson;
}
#two {
   color: blue;
}
#three {
   color: green;
}
#four {
   color: rgb(63, 140, 163);
}
.text ~ p {
   color: hotpink;
}
.text {
   color: cyan;
}
.about {
   color: darkkhaki;
}
.main {
   color: darkolivegreen;
}
h3 {
   color: darkred;
}
.href1 {
   color: darkorchid;
}
.href2 {
   color: cornflowerblue;
}
.href3 {
   color: chartreuse;
}
.href4 {
   color: blanchedalmond;
}
.href5 {
   color: rgb(85, 66, 192);
}