@import url(reset.css);


.p1 {
    background-color: rgba(0, 255, 255, 0.308);
}
.p2 {
    background: url(../img/4_fO4g.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.p3 {
    background: #e2dc24;
    background: -moz-radial-gradient(center, ellipse cover,  #e2dc24 15%, #4f22aa 40%, #4f22aa 40%, #4f22aa 56%, #1d6e93 80%, #894a7e 91%);
    background: -webkit-radial-gradient(center, ellipse cover,  #e2dc24 15%,#4f22aa 40%,#4f22aa 40%,#4f22aa 56%,#1d6e93 80%,#894a7e 91%);
    background: radial-gradient(ellipse at center,  #e2dc24 15%,#4f22aa 40%,#4f22aa 40%,#4f22aa 56%,#1d6e93 80%,#894a7e 91%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2dc24', endColorstr='#894a7e',GradientType=1 );
}
.p4 {
    background: url(../img/images.jpg) round;
}
.p5 {
    background: url(../img/images.jpg) right no-repeat, url(../img/4_fO4g.jpg) 50%/cover no-repeat;
}