@import url(reset.css);

body {
   font-family: 'Poppins', sans-serif;
   font-style: normal;
   font-weight: 300;
   font-size: 14px;
   line-height: 25px;
   color: #6C757D;
}
h1 {
   font-style: normal;
   font-weight: 700;
   font-size: 25px;
   line-height: 40px;
   color: #212529;
   padding-bottom: 40px;
   padding-top: 24px;
   margin: 0 auto;
}
div{
   margin: 0 auto;
}
.container {
   max-width: 1240px;
}
.text-1 {
   max-width: 816px;
   margin-top: 15px;
}
p {
   margin-bottom: 30px;
}
.img1 {
   display: block;
   margin: 0 auto;
   margin-top: 80px;
   margin-bottom: 80px;
}
.text-2 {
   max-width: 816px;
   margin-top: 15px;
   margin: 0 auto;
}
.imgs {
   font-size: 0;
   margin-bottom: 80px;
   margin-top: 80px;
}
.img3 {
   padding-left: 30px;
}
.text-3 {
   max-width: 816px;
   margin-top: 15px;
   margin: 0 auto;
   padding-bottom: 70px;
}